.sobre-web-design {
  align-items: center;
  justify-content: space-between;
}
.sobre-web-design article {
  width: 300px;
}
.sobre-web-design article h1 {
  font-size: 72px;
  line-height: 90%;
  font-weight: 400;
  color: #333366;
}

.sobre-web-design article h2 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200%;
  color: #3399cc;
}

.sobre-web-design article p {
  color: #3399cc;
  margin: 10px 0;
  text-align: justify;
  margin: 10px 0 20px;
}

.sobre-web-design figcaption img {
  width: 600px;
}
